# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Editor files
.vscode/
.idea/
*.swp
*~

# Logisim temp / backup files
*.circ.bak
